# IDEs
.idea

build
*.swp
package.json
package-lock.json
node_modules
__pycache__
.pytest_cache
.venv
*.egg-info
*.pyc
bin/
# CDK asset staging directory
.cdk.staging
cdk.out

# AWS credentials (make sure this is excluded if it's in the project directory)
*.pem
*.env
.secrets
